.T2011E-calender{
  height: 40px;
  width: 30px;
  background: #2d3e52;
  color: #fff;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
}

.T2011E-input-calender {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
